<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text=${title} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body >
<div class="container">
    <div class="card card-container">
        <div class="col-md-6 col-md-offset-3 text-center"><br><br><br>
        <p id="profile-name" class="profile-name-card"></p>
        <form th:action="@{/registration}" method="post" class="form-signin">
            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Регистрация</font></font></h1>
            <span id="reauth-email" class="reauth-email"></span>
            <input  type="text" name="username" id="inputEmail" class="form-control" placeholder="Login" required autofocus><br>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <br>
            <div class="text-xs-center" >
                <span class="group-btn col-lg-13">
                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="">Register</button> <br>
                </span>
            </div>
             <p class="text--center">Вернуться <a href="/login"> назад</a></p>

        </form>
        </div>
    </div>
</div>
<!--
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text=${title} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<div class="container">
    <br><br><br><br><br>
    <div class="card card-container">
        <p id="profile-name" class="profile-name-card"></p>
        <form th:action="@{/login}" method="post" class="form-signin">
            <span id="reauth-email" class="reauth-email"></span>
            <input  type="text" name="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <br><br>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <div class="btn btn-lg btn-primary btn-block btn-signin"><input type="submit" value="Sign In"/></div>
        </form>
<a href="#" class="forgot-password">
    Forgot the password?
</a>
</div>
</div> -->
</body>
</html>