<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text=${title} />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body class="text-center">
    <main role="main" class="inner cover">
        <br>
        <br>
        <h1 class="cover-heading">Добро пожаловать.</h1>
        <p class="lead">Для того чтобы войти в приложение, необходимо пройти авторизацию, нажав кнопку 'Продолжить'.  </p>
        <p class="lead">
            <a href="/home" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Продолжить</a>
        </p>
    </main>
</div>

</body>
</html>